/* Extract styles for html preview to apply properly */
body {
    background-color: #fbf9f5;
    font-family: 'Inter', sans-serif;
    color: #162839;
}
.bg-background {
  background-color: #fbf9f5;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
